.main{
    position: relative;
    height: 100%;
    width: 700px;
    box-shadow:  12px 10px 40px #000,
                 -12px -12px 40px #d5b9b9;
}
body{
    background: url(./acess/background-ban-go-lam-viec_101227484.jpg);
    background-size: cover;
    background-position-y: -20px;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.box1{
    color: #FFFFFF;
    width: 40%;
    position: absolute;
    margin-left: 0;
    background-color: rgb(98, 98, 98);
    /* padding: 0px 10px 10px 10px; */
    margin: 0px 0px 10px 0px;
    padding-bottom: 8px;
}
.box2{
    width: 60%;
    margin-left: auto;
    margin-right: 0;
    background-color: rgb(255, 255, 255);
    padding-bottom: 8px;
}
.avatar{
    width: 99%;
    height: 100%;
    object-fit: contain;
    border: 2px solid orange;
}

.target, .header, .education, .experience, .info, .skill, .interest{
    padding: 10px;
    border-bottom: 2px solid orange;
}
.contact button{
    background-color: rgb(188, 195, 197);
    padding: 12px 15px;
    border: solid orange;
    border-radius: 5px;
    box-shadow: 0 0 5px orange;
    font-weight: 600;
    font-style: italic;
}
.contact button:hover{
    background-color: #3c3737;
    cursor: pointer;
}
.activitiy{
    padding: 10px;
}